# SPDX-FileCopyrightText: Copyright (c) 2021-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: l3build
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  l3build:
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    env:
      TERM: linux
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get -y update
        if: matrix.os == 'ubuntu-24.04'
      - run: sudo apt-get install --yes inkscape
        if: matrix.os == 'ubuntu-24.04'
      - run: sudo apt-get install --yes ghostscript
        if: matrix.os == 'ubuntu-24.04'
      - run: brew install ghostscript
        if: matrix.os == 'macos-15'
      - uses: teatimeguest/setup-texlive-action@v3.3.4
        with:
          package-file: DEPENDS.txt
      - run: l3build ctan --show-log-on-error --halt-on-error
      - run: |
          mkdir build/gh-pages
          cp build/distrib/tds/tex/latex/huawei/huawei.cls build/gh-pages
          sed -i "s/0\.0\.0/$(date +%H.%M.%S)/g" build/gh-pages/huawei.cls
          sed -i "s|0000/00/00|$(date +%Y/%m/%d)|g" build/gh-pages/huawei.cls
        if: github.ref == 'refs/heads/master' && matrix.os == 'ubuntu-24.04'
      - uses: JamesIves/github-pages-deploy-action@v4.7.3
        with:
          branch: gh-pages
          folder: build/gh-pages
          clean: true
        if: github.ref == 'refs/heads/master' && matrix.os == 'ubuntu-24.04'
